<% include ../partials/header %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Eine!</h1>
             <p>The Social Networking Application which uses structure for sharing daily activites and it's entire process.</p>
             <p>
                <a class="btn btn-primary btn-large" href="/themes/new">Add New Theme</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% allThemes.forEach(function(theme){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= theme.image %>">
                   <div class="caption">
                       <h4><%= theme.name %></h4>
                   </div>
                   <p>
                       <a href="/themes/<%= theme._id %>" class="btn btn-primary">More Info</a>
                   </p>
                   
                    <div class="caption">
                       <h4><%= theme.timeFrame %></h4>
                   </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
